<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Honoré Koffi SONOU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="profile-image">
            <img src="{{ url_for('static', filename='Images/profile3.jpg') }}" alt="Profile Picture">
        </div>
        <header>
            <div class="banner">
                <h1>Honoré Koffi SONOU</h1>
                <h2>🛡️ Data Protection | 💻 Developer | 🔐 Cybersecurity</h2>
                <p class="tagline">Specialized in information security and personal data protection.</p>
            </div>
        </header>

        <br></br>
        <br></br>
        <br></br>
        <section class="bio">
            <h2>Who am I? 👨‍💻</h2>
            <p>I am currently a master's student in <i>Information Security</i> at ITMO University. Prior to this, I
                earned a Bachelor's degree in Information Systems and Software at Les Cours SONOU University in Benin.
                Passionate about <i>reading</i>, I enjoy discovering the world around us through books, and I am
                constantly curious about technological developments.</p>
            <p><b>Football</b> is another major passion of mine, and I also enjoy following the sports news in this
                field. Furthermore, I am a fan of <b>video games</b>, an activity that allows me to relax and explore
                new interactive universes.</p>
            <p> My specialization in information security allows me to fully engage in data protection, a field I
                consider essential in an increasingly interconnected digital world. My goal is to acquire the necessary
                skills to effectively secure systems and protect sensitive information.</p>
        </section>
        <br></br>
        <section class="skills">
            <h2>My Skills 💡</h2>
            <div class="skill-list">
                <span>🔹 Data Protection</span>
                <span>🔹 Cybersecurity</span>
                <span>🔹 Secure Development</span>
                <span>🔹 Formal Modeling</span>
                <span>🔹 Cryptography and Applied Mathematics</span>
            </div>
            <br></br>
            <h2>My Soft Skills 💡</h2>
            <div class="skill-list">
                <span>🔹 Decision Making Under Pressure</span>
                <span>🔹 Critical Thinking</span>
                <span>🔹 Teamwork</span>
            </div>
        </section>
        <br></br>
        <section class="social-links">
            <h2>Contact Me 🌍</h2>
            <p>Follow me on these platforms to connect and collaborate:</p>
            <a href="https://github.com/Honorius2" target="_blank">🐱GitHub</a>
            <a href="https://t.me/Honorius2lv" target="_blank">📱 Telegram</a>
            <a href="https://www.linkedin.com/in/honorius2s" target="_blank"> 🔗 LinkedIn</a> 
            <a href="mailto:sonoukoffihonore@gmail.com">📩 Email</a>
        </section>


    </div>
</body>

</html>